<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors List</title>
</head>
<body>
    <h1>Doctors List</h1>
    <ul>
        {% for doctor in object_list %}
        <li>{{ doctor.name }} {{ doctor.lastname }} - {{ doctor.choosing_a_specialization }}</li>
        {% endfor %}
    </ul>

    <h2>Create New Doctor</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
</body>
</html>
